body {
  margin: 0;
  min-height: 100%;
  overflow: hidden;

  #bg-img {
    background-image: url("/public/img/bg.webp");
    background-attachment: fixed;
    background-size: cover;
    color: blue;
  }
}

div #image {
  //background-image: url("/public/img/bg.webp");
  background-image: url("/public/img/logo.png");
  background-attachment: fixed;
  background-size: cover;
}

html {
  height: 100%;
}

.header-color {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046);
}

.main-menu {
  #header-name{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2.5rem;
  }

  a {
    color: white;
    text-decoration: none;
    transition: all .2s ease-in;
  }

  a:hover {
    color: rgb(255, 241, 0);
  }

  a.menu-item {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;

  }

  img {
    width: auto;
    height: 260px;
  }
}


.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-banner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  width: 50vw;
  height: 23vh;
  border-radius: 15px;

  h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 4rem;
    color: white;
  }

  .contact-buttons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;

    i {
      color: white;
      padding: 1rem;
      font-size: 3rem;
    }
  }
}

.projects-grid {
  display: flex;
}

.resume-grid {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

  h2, h3, h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
  }

  h3, h4 {
    margin-top: 0;
  }

  .resume-left-col {
    text-align: center;

    h2 {
      margin-top: 15vh;
    }

    hr {
      width: 50%;
      margin: auto;
      //align: center;
    }

    border-right: #1CB5E0 solid 5px;
  }

  .resume-right-col {
    color: black;

    p, li {
      font-size: 1.2rem;
    }

    h3, h4 {
      text-align: center;
    }

    .experience-column {
      padding: 0 10vh;
    }
  }
}



.tabs {
  position: relative;
}

.grid-container {
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-image {
  color: #fff;
  height: 100%;
}

.unordered-list {
  padding-left: 2vw;
}

.contact-container {
  h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
  }
}
